/* src/styles/base.css */

html {
    scroll-behavior: smooth;
}
  
body {
  @apply font-sans bg-zinc-200 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-200;
}

/* Main Layout */
.main-layout {
  @apply min-h-screen bg-zinc-200 text-zinc-900 dark:bg-zinc-900 dark:text-white flex flex-col pt-16;
}

/* Nagłówki stron */
.page-title {
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-left pb-4;
}
  
/* Kontener strony */
.page-wrapper {
  @apply px-1 pb-4 flex flex-col gap-3 bg-zinc-200 dark:bg-zinc-900;
}
  
/* Nawigacja główna */
.navbar {
  @apply fixed top-0 left-0 w-full z-50 bg-zinc-100/80 dark:bg-zinc-800/40 backdrop-blur-md shadow-md;
}
  
.navbar-inner {
  @apply max-w-7xl mx-auto px-4 py-3 flex justify-between items-center;
}
  
.navbar-nav {
  @apply hidden md:flex gap-6 items-center;
}

.navbar-div {
  @apply md:hidden flex items-center gap-2;
}

.navbar-mobile {
  @apply md:hidden px-4 pb-4 flex flex-col gap-3 bg-white dark:bg-zinc-900;
}

.navbar-mobile-navlink {
  @apply py-1 text-lg border-b border-zinc-200 dark:border-zinc-700;
}

.navbar-mobile-blurr {
  @apply fixed inset-0 z-40 bg-black/30 backdrop-blur-sm;
}

.navbar-sidebar {
  @apply fixed right-0 top-0 h-full w-64 bg-white dark:bg-zinc-900 shadow-lg z-50 p-6 flex flex-col gap-4;
}

/* Footer */
.footer {
  @apply flex justify-between items-center bg-zinc-100 dark:bg-zinc-800 px-4 py-6 text-center mt-12 text-sm text-zinc-500 dark:text-zinc-400;
}

/* Theme Toggle */
.themetoggle-button {
  @apply p-2 rounded-full hover:bg-zinc-200 dark:hover:bg-zinc-700 transition-colors;
}


/* Lista języków */
.langList {
  @apply absolute right-0 z-10 mt-2 w-16 bg-white dark:bg-zinc-800 border rounded shadow;
}

.langList-button {
  @apply flex items-center w-full px-2 py-1 hover:bg-zinc-100 dark:hover:bg-zinc-700;
}

/* Style strony NotFound */
@keyframes star {
  0%, 100% { opacity: 0.6; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.5); }
}

.animate-star {
  animation: star 4s ease-in-out infinite;
}

@keyframes shiftGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.button-animated {
  background: linear-gradient(90deg, #374151, #1f2937); /* domyślny */
  transition: background 0.4s ease;
}

.button-animated:hover {
  background: linear-gradient(150deg, oklch(70.4% 0.191 22.216), oklch(50.5% 0.213 27.518), oklch(39.6% 0.141 25.723), oklch(50.5% 0.213 27.518), oklch(70.4% 0.191 22.216), oklch(70.4% 0.191 22.216), oklch(50.5% 0.213 27.518), oklch(39.6% 0.141 25.723), oklch(50.5% 0.213 27.518), oklch(70.4% 0.191 22.216));
  background-size: 400% 400%;
  animation: shiftGradient 5s linear infinite;
}


@keyframes textGradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-text-gradient {
  /*background: linear-gradient(90deg, #facc15, #f97316, #dc2626, #f97316, #facc15);*/
  background: linear-gradient(30deg, oklch(70.4% 0.191 22.216), oklch(57.7% 0.245 27.325), oklch(39.6% 0.141 25.723), oklch(57.7% 0.245 27.325), oklch(70.4% 0.191 22.216));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textGradientMove 5s linear infinite;
}

.homepage-maindiv {
  @apply w-full pt-6 md:pt-4 flex flex-col md:flex-row items-center justify-center gap-20 md:gap-40 px-6 sm:px-10;
}

.profilepic-div {
  @apply relative w-48 h-48 sm:w-72 sm:h-72 md:w-80 md:h-80 rounded-full overflow-hidden shadow-[0_8px_40px_rgba(0,0,0,0.2)] border-2 border-white dark:border-zinc-700;
}

.profilepic {
  @apply w-full h-full object-cover rounded-full;
}

.profilepic-effect {
  @apply absolute inset-0 rounded-full bg-gradient-to-tr from-purple-500/20 via-blue-400/20 to-pink-400/20 animate-pulse backdrop-blur-sm pointer-events-none;
}

.home-infodiv {
  @apply flex flex-col items-center text-center gap-4 max-w-xl drop-shadow-lg;
}

.home-contactbutton {
  @apply px-5 py-1.5 text-sm bg-zinc-100 dark:bg-zinc-600 text-zinc-800 dark:text-white rounded-full flex items-center gap-2 hover:bg-zinc-200 dark:hover:bg-zinc-500 transition shadow-md;
}

.home-cvbutton {
  @apply px-5 py-1.5 text-sm bg-red-800 text-white rounded-full flex items-center gap-2 hover:bg-red-700 transition shadow-md;
}

.cv-dropdown {
  @apply absolute z-50 left-0 mt-2 rounded-md w-full bg-red-800 backdrop-blur text-white shadow-md overflow-hidden items-center text-center;
}

.downloadcv-button {
  @apply flex items-center text-center gap-2 px-4 py-2 w-full text-sm font-medium hover:bg-red-700 transition;
}

.viewcv-button {
  @apply flex text-center px-4 py-2 w-full text-sm font-medium hover:bg-red-700 transition;
}

.linkedin-button {
  @apply px-5 py-1.5 text-sm bg-[#0077B5] text-white rounded-full flex items-center gap-2 hover:bg-[#0099B5] transition shadow-md;
}

.github-button {
  @apply px-5 py-1.5 text-sm bg-zinc-900 dark:bg-zinc-800 text-white rounded-full flex items-center gap-2 hover:bg-zinc-700 dark:hover:bg-zinc-600 transition shadow-md;
}

.about-background {
  @apply absolute inset-0 opacity-10 flex justify-end items-center pr-6 pointer-events-none;
}

.about-close {
  @apply absolute top-3 right-3 text-zinc-500 hover:text-red-600 transition;
}

